.char-details {
  margin-bottom: 40px;
  padding: 25px 25px 15px;
  background-color: #fff;
}

.char-details h4 {
  margin-bottom: 20px;
  text-align: center;
}

.select-error {
  border-radius: 0.25rem;
  padding: 13px 20px;
  background-color: #fff;
}