.button {
  margin-bottom: 35px;
  border: none;
  border-radius: 2px;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgb(52, 18, 206);
}

.button:focus {
  outline: none;
}