body {
  overflow-x: hidden;
  height: 130vh;
  font-size: 16px;
  background: url("got.jpeg") center/cover repeat;
  background-position-x: 67%;
}

.button {
  margin-bottom: 35px;
  border: none;
  border-radius: 2px;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(21, 6, 105, 0.89);
}

.button:focus {
  outline: none;
}