.button {
  margin-bottom: 35px;
  border: none;
  border-radius: 2px;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(21, 6, 105, 0.89);
}

.button:focus {
  outline: none;
}