.char-details {
  margin-bottom: 40px;
  padding: 25px 25px 15px 25px;
  background-color: #fff;
}

.char-details h4 {
  margin-bottom: 20px;
  text-align: center;
}

.select-error {
  text-align: center;
  font-size: 26px;
  color: #fff;
}